@import url('http://fonts.googleapis.com/css?family=Signika:400,600');
* {
  padding: 0;
  margin: 0;
  outline: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

img, iframe, fieldset, object, table {
  border: none; }

caption, th {
  font-weight: normal;
  text-align: left; }

td {
  vertical-align: top; }

sub, sup {
  vertical-align: baseline; }

ol, ul {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

code {
  white-space: pre; }

code,
pre {
  font: 15px/1.231 "Signika", sans-serif; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.col1of2,
.col1of3, .col2of3,
.col1of4, .col2of4, .col3of4,
.col1of5, .col2of5, .col3of5, .col4of5,
.col1of6, .col2of6, .col3of6, .col4of6, .col5of6 {
  float: left; }

.last-col {
  display: table-cell;
  float: none;
  width: auto;
  _margin-right: -3px;
  _left: -3px;
  _position: relative;
  *display: block;
  *zoom: 1; }
  .last-col:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    clear: both;
    display: block;
    height: 0 !important;
    line-height: 0;
    visibility: hidden; }

.col1of1 {
  float: none;
  width: 100%; }

.col1of2 {
  width: 50%; }

.col1of3 {
  width: 33.333%; }

.col2of3 {
  width: 66.667%; }

.col1of4 {
  width: 25%; }

.col3of4 {
  width: 75%; }

.col1of5 {
  width: 20%; }

.col2of5 {
  width: 40%; }

.col3of5 {
  width: 60%; }

.col4of5 {
  width: 80%; }

.col1of6 {
  width: 16.667%; }

.col2of6 {
  width: 33.333%; }

.col3of6 {
  width: 50%; }

.col4of6 {
  width: 66.667%; }

.col5of6 {
  width: 83.333%; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.by-left {
  text-align: left; }

.by-right {
  text-align: right; }

.by-center {
  text-align: center; }

/*
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * a, t, r, b, l, h, v = all,top,right,bottom,left,horizontal,vertical
 * x, s, m, l, n       = space-x, space-s, space-m, space-l, none
 * p, m                = padding,margin */
.ptn, .pvn, .pan {
  padding-top: 0; }

.ptx, .pvx, .pax {
  padding-top: 3px; }

.pts, .pvs, .pas {
  padding-top: 5px; }

.ptm, .pvm, .pam {
  padding-top: 10px; }

.ptl, .pvl, .pal {
  padding-top: 20px; }

.prn, .phn, .pan {
  padding-right: 0; }

.prx, .phx, .pax {
  padding-right: 3px; }

.prs, .phs, .pas {
  padding-right: 5px; }

.prm, .phm, .pam {
  padding-right: 10px; }

.prl, .phl, .pal {
  padding-right: 20px; }

.pbn, .pvn, .pan {
  padding-bottom: 0; }

.pbx, .pvx, .pax {
  padding-bottom: 3px; }

.pbs, .pvs, .pas {
  padding-bottom: 5px; }

.pbm, .pvm, .pam {
  padding-bottom: 10px; }

.pbl, .pvl, .pal {
  padding-bottom: 20px; }

.pln, .phn, .pan {
  padding-left: 0; }

.plx, .phx, .pax {
  padding-left: 3px; }

.pls, .phs, .pas {
  padding-left: 5px; }

.plm, .phm, .pam {
  padding-left: 10px; }

.pll, .phl, .pal {
  padding-left: 20px; }

.mtn, .mvn, .man {
  margin-top: 0px; }

.mtx, .mvx, .max {
  margin-top: 3px; }

.mts, .mvs, .mas {
  margin-top: 5px; }

.mtm, .mvm, .mam {
  margin-top: 10px; }

.mtl, .mvl, .mal {
  margin-top: 20px; }

.mrn, .mhn, .man {
  margin-right: 0px; }

.mrx, .mhx, .max {
  margin-right: 3px; }

.mrs, .mhs, .mas {
  margin-right: 5px; }

.mrm, .mhm, .mam {
  margin-right: 10px; }

.mrl, .mhl, .mal {
  margin-right: 20px; }

.mbn, .mvn, .man {
  margin-bottom: 0px; }

.mbx, .mvx, .max {
  margin-bottom: 3px; }

.mbs, .mvs, .mas {
  margin-bottom: 5px; }

.mbm, .mvm, .mam {
  margin-bottom: 10px; }

.mbl, .mvl, .mal {
  margin-bottom: 20px; }

.mln, .mhn, .man {
  margin-left: 0px; }

.mlx, .mhx, .max {
  margin-left: 3px; }

.mls, .mhs, .mas {
  margin-left: 5px; }

.mlm, .mhm, .mam {
  margin-left: 10px; }

.mll, .mhl, .mal {
  margin-left: 20px; }

h1, .h1 {
  font-size: 24px; }

h2, .h2 {
  font-size: 20px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 13px; }

h1 {
  margin-bottom: 15px; }

h2 {
  margin-bottom: 13px; }

h3 {
  margin-bottom: 8px; }

h4 {
  margin-bottom: 7px; }

h5 {
  margin-bottom: 5px; }

.opaque {
  color: #444444; }

.neutral {
  color: #666666; }

.pale {
  color: #999999; }

.bare {
  color: #aaaaaa; }

.firm {
  color: #1dd681; }

.sharp {
  color: #252525; }

.contrast {
  color: white; }

.positive {
  color: #1dd681; }

.negative {
  color: #cc0000; }

a {
  color: #1dd681;
  text-decoration: none; }
  a:hover {
    color: #6eebb2; }

body {
  background: #1c1a1d;
  color: #e5dde6;
  font: 400 15px/1.35 "Signika", sans-serif; }

.wrapper {
  margin: auto;
  max-width: 600px;
  padding: 25px 0;
  position: relative; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.symbol {
  margin-top: 6px; }

.unordered-list {
  font-size: 14px;
  margin-bottom: 20px; }

.unordered-list-item {
  list-style-type: square;
  margin: 0 0 20px 25px; }

pre {
  border-left: 1px solid #1dd681;
  line-height: 1.5;
  margin: 15px 0;
  padding: 10px 15px;
  overflow: auto; }
  pre::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.05);
    width: 8px;
    height: 8px; }
  pre::-webkit-scrollbar-corner, pre::-webkit-resizer {
    display: none; }
  pre::-webkit-scrollbar-track-piece:disabled {
    display: none !important; }
  pre::-webkit-scrollbar:vertical {
    border: none; }
  pre::-webkit-scrollbar-thumb:vertical, pre::-webkit-scrollbar-thumb:horizontal {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    min-height: 20px; }
  pre::-webkit-scrollbar-thumb:vertical:hover, pre::-webkit-scrollbar-thumb:horizontal:hover {
    background: #1dd681; }

code {
  color: #1dd681;
  font-family: Monaco, monospace; }

.link-by-railsware {
  background: url("../images/by-rw-corner.png") 0 0 no-repeat;
  height: 163px;
  position: absolute;
  right: 0;
  text-indent: -99999em;
  top: 0;
  width: 163px; }

.rw-link {
  border-bottom: 1px solid #cc0000;
  color: #ff3333;
  text-decoration: none; }
  .rw-link:hover {
    border-bottom-color: red;
    color: #ff6666; }

.button {
  background-color: #1dd681;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 8px 18px; }
  .button:hover, .button:focus {
    background: #6eebb2;
    color: white; }
  .button:active {
    background: #117c4b; }

.debug-grids {
  text-align: center;
  cursor: default; }
  .debug-grids:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .debug-grids .inner-col {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 10px 10px 0;
    padding: 10px; }
    .debug-grids .inner-col:hover {
      background-color: rgba(255, 255, 255, 0.15); }
  .debug-grids .last-col .inner-col {
    margin-right: 0; }

.article {
  padding: 0 0 30px 30px;
  position: relative; }
  .article img {
    width: 100%; }

.article-pic {
  margin-bottom: 10px; }

.article-anchor {
  color: #666666;
  left: 100%;
  margin-left: 30px;
  position: absolute; }

.article-title {
  color: #1dd681; }
