body {
  background: #1c1a1d;
  color: #e5dde6;
  font: 400 15px/1.35 "Signika", sans-serif; }

.container {
  padding-left: 210px;
  margin: auto;
  max-width: 500px; }

.wrapper {
  max-width: 480px;
  padding: 25px 0;
  position: relative; }

@media all and (max-width: 499px) {
  .container {
    padding-left: 0; }

  .wrapper {
    padding: 25px 3%; } }
@media all and (min-width: 500px) and (max-width: 780px) {
  .container {
    padding-left: 25%; }

  .wrapper {
    padding-right: 3%; } }
.debug-grids {
  text-align: center;
  cursor: default;
  *zoom: 1; }
  .debug-grids:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .debug-grids .inner-col {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 10px 10px 0;
    padding: 10px; }
    .debug-grids .inner-col:hover {
      background-color: rgba(255, 255, 255, 0.15); }
  .debug-grids .last-col .inner-col {
    margin-right: 0; }

@media all and (max-width: 499px) {
  .debug-grids .inner-col {
    margin-right: 0; } }
.article {
  padding: 0 0 30px 30px;
  position: relative; }

.article-pic {
  margin-bottom: 10px;
  width: 100%; }

.article-anchor {
  color: #666666;
  left: 100%;
  margin: 5px 0 0 30px;
  position: absolute; }

.article-title {
  color: #1dd681; }

.article-label {
  color: #dfb301;
  padding-right: 10px; }

@media all and (max-width: 499px) {
  .article {
    padding-left: 0; }

  .article-anchor {
    left: auto;
    right: 0; }

  .article-title {
    margin-right: 40px; } }
@media all and (min-width: 500px) and (max-width: 780px) {
  .article-anchor {
    left: auto;
    right: 0; }

  .article-title {
    margin-right: 40px; } }
.sidebar {
  font: 12px Monaco, monospace;
  height: 100%;
  left: 50%;
  margin-left: -333px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 10; }
  .sidebar a {
    display: inline-block;
    padding: 5px 0; }

.sidebar-scroll {
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%; }
  .sidebar-scroll::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.05);
    width: 8px;
    height: 8px; }
  .sidebar-scroll::-webkit-scrollbar-corner, .sidebar-scroll::-webkit-resizer {
    display: none; }
  .sidebar-scroll::-webkit-scrollbar-track-piece:disabled {
    display: none !important; }
  .sidebar-scroll::-webkit-scrollbar:vertical {
    border: none; }
  .sidebar-scroll::-webkit-scrollbar-thumb:vertical, .sidebar-scroll::-webkit-scrollbar-thumb:horizontal {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    min-height: 20px; }
  .sidebar-scroll::-webkit-scrollbar-thumb:vertical:hover, .sidebar-scroll::-webkit-scrollbar-thumb:horizontal:hover {
    background: #1dd681; }

@media all and (max-width: 499px) {
  .sidebar {
    margin-left: -150%; } }
@media all and (min-width: 500px) and (max-width: 780px) {
  .sidebar {
    left: 0;
    margin-left: 15px;
    width: 25%; } }
.responsivity {
  cursor: default;
  margin: 0 -3px 20px 0;
  text-align: center;
  *zoom: 1; }
  .responsivity:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .responsivity li {
    margin: 0 -1px -1px 0;
    position: relative; }

.responsivity-place {
  border: 1px solid #444444;
  color: #666666;
  padding: 20px; }

.responsivity-test {
  background: #1dd681;
  color: white;
  left: 0;
  padding: 21px 0;
  position: absolute;
  top: 0;
  width: 100%; }
