body {
  background: #1c1a1d;
  color: #e5dde6;
  font: 400 15px/1.35 "Signika", sans-serif; }

.container {
  padding-left: 210px;
  margin: auto;
  max-width: 500px; }

.wrapper {
  max-width: 480px;
  padding: 25px 0;
  position: relative;
  display: table-cell;
  float: none;
  width: auto; }
  .wrapper:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    clear: both;
    display: block;
    height: 0 !important;
    line-height: 0;
    visibility: hidden; }
