body {
  background: #1c1a1d;
  color: #e5dde6;
  font: 400 15px/1.35 "Signika", sans-serif; }

.wrapper {
  margin: auto;
  max-width: 600px;
  padding: 25px 0;
  position: relative; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
