body {
  background: #1c1a1d;
  color: #e5dde6;
  font: 400 15px/1.35 "Signika", sans-serif; }

.container {
  padding-left: 210px;
  margin: auto;
  max-width: 500px;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s; }

.wrapper {
  max-width: 480px;
  padding: 25px 0;
  position: relative; }

@media all and (max-width: 499px) {
  .container {
    padding-left: 0; }

  .wrapper {
    padding: 25px 3%; } }
@media all and (min-width: 500px) and (max-width: 780px) {
  .container {
    padding-left: 25%; }

  .wrapper {
    padding-right: 3%; } }
