#p8.article
  %a.article-anchor(href="#p8") #8
  %h2.article-title Code style & conventions
  %img.article-pic(alt="" src="images/article/talk-about-me.jpg")/

  Depending on your project needs team should define a code style to be used 
  across the project. Here is a Sass example:

  %pre<
    %code<
      :preserve
        .selector
          background: #ccc url('image.png') 0 0 no-repeat
          font: 14px 'Helvetica Neue', Helvetica, sans-serif
          padding: 0 4px 2px
          z-index: 5
          +transition(all .2s linear)
        
        .selector-child
          display: inline-block

