#p7.article
  %a.article-anchor(href="#p7") #7
  %h2.article-title Class name should live for years

  Class name should describe the function of an object. If we're 
  talking about color appearance (object modifier) then it is 
  useful to abstract naming cause it's appearance can change quite 
  frequently.

  %pre<
    %code<
      :preserve
        .button.green   -> .button.is-positive
        .tab.tab-blue   -> .tab.is-pale
        .white          -> .contrast

