#p14.article
  %a.article-anchor(href="#p14") #14
  %h2.article-title Grids
  %img.article-pic(alt="" src="images/article/maintenance.jpg")/
  %p.mbl
    We like
    %a(href="http://github.com/stubbornella/oocss/blob/master/core/grid/grids.css") Nicole Sullivan grids
    system. There are 6 sizes available by default. We modified class names a bit to write less and 
    made them responsive:

  .debug-grids
    .col1of2
      .inner-col 1 of 2
    .col1of2.last-col
      .inner-col 1 of 2

  .debug-grids
    .col1of3
      .inner-col 1 of 3
    .col1of3
      .inner-col 1 of 3
    .col1of3.last-col
      .inner-col 1 of 3

  .debug-grids
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4.last-col
      .inner-col 1 of 4

  .debug-grids
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5.last-col
      .inner-col 1 of 5

  .debug-grids
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6.last-col
      .inner-col 1 of 6

