.article
  .hidden-desktop
    %a.logo(href="#")
      %img(alt="Scaffy by Railsware" src="images/logo.png")/

  .ptm
    %a.button.mrm(href="http://railsware.github.com/scaffy/futurico") Demo
    %a.button(href="http://github.com/railsware/scaffy") Fork on Github

.article
  %h1.positive Set of best practices, approaches and tools that help writing modular CSS
  %h1 All kinds developers can create user interfaces without frontender!

