#p5.article
  %a.article-anchor(href="#p5") #5
  %h2.positive Look identically everywhere
  %img.article-pic(alt="" src="images/article/look.jpg")/

  %p.mbl
    Doesn't matter where your object will take place it should look the same. It is possible
    by creating unique classes for each component.

  %p.mbl
    For example <code>.navigation</code> in
    <code>.header</code> will look identically the same in <code>.footer</code> or in 
    the <code>.content</code> area. That means if you need to modify navigation in 
    footer, you have to create another type of it &mdash; <code>.sub-navigation</code>.

  .mbl
    Selector should describe a main object, be as short as it can & don't make potential conflict:
    %pre<
      %code<
        :preserve
          .player .avatar  -> .player-avatar
          .navigation li   -> .navigation-item
          .navigation li   -> .navigation > li /* In case navigation is flat and doesn't have a big nesting */
          .lightbox .close -> .lightbox-close
