#p4.article
  %a.article-anchor(href="#p4") #4
  %h2.article-title Module
  %img.article-pic(alt="" src="images/article/module.jpg")/

  %p.mbl
    Module is a unique complex component that consists of an objects. 
    All modules are placed into a <code>modules</code> folder in order 
    to be separated into an additional layer of the architecture.

  %p.mbl
    Modules can also have modifiers that start with <code>.is-</code>.

  %p.mbl
    To avoid conflicts it is recommended to name all module
    objects starting with module name prefix (Sass example):

  %pre<
    %code<
      :preserve
        .player
          position: relative
          &.is-away
            opacity: .3
          
        .player-avatar
          height: 50px
          
        .player-status
          background: #111
          display: inline-block

