.row
  #p2.article
    %a.article-anchor(href="#p2") #2
    %h2.article-title Problems
    %p.mbl
      One major problem is a clear communication
      and involving collaboration across the team. Everyone writes
      code in the way he feels comfortable. No rules. Just a mess.

    %p.mbl
      Back-end engineers can't start implementing new feature
      without finished markup & CSS. Front-end guy is a bottleneck
      in this situation.

    %p.mbl
      We spend too much time fixing bugs because of stylesheets size
      and location dependent UI components. And we can't guarantee we
      checked all places.

    %p.mbl
      Scaling CSS for endless amount of pages/layouts is actually
      another problem. So many confusion and mess start happening
      when project grows continuously.

    %p.mbl
      Maintenance become a huge pain in the ass when old code is
      spreaded all over the project.

    %p.mbl
      Code is never predictable to find by looking just at the
      selector. So much frustration.

    %h2.bright
      And we decided to start with
      %a(href="http://oocss.org" target="_blank") OOCSS
      methodology as a base for creating approach that meets our
      expectations, needs and the way we build products.

