#p13.article
  %a.article-anchor(href="#p13") #13
  %h2.article-title Responsive design
  %p.mbl
    We optimized
    <a href="http://twitter.github.com/bootstrap/scaffolding.html#responsive" target="_blank">
      Twitter Bootstrap approach
    </a>
    to make code even more beautiful and elegant without
    <span class="bright">!important</span> overrides.

  %h3.mbm Shown on
  %ul.responsivity
    %li.col1of3
      .responsivity-place Mobile
      .responsivity-test.shown-mobile ✔ Mobile
    %li.col1of3
      .responsivity-place Tablet
      .responsivity-test.shown-tablet ✔ Tablet
    %li.col1of3
      .responsivity-place Desktop
      .responsivity-test.shown-desktop ✔ Desktop

  %h3.mbm Hidden on
  %ul.responsivity
    %li.col1of3
      .responsivity-place Mobile
      .responsivity-test.hidden-mobile ✔ Mobile
    %li.col1of3
      .responsivity-place Tablet
      .responsivity-test.hidden-tablet ✔ Tablet
    %li.col1of3
      .responsivity-place Desktop
      .responsivity-test.hidden-desktop ✔ Desktop

