.sidebar
  .sidebar-scroll
    %ul
      %li.shown-desktop
        %a.logo(href="#")
          %img(alt="Scaffy by Railsware" src="images/logo.png")/
      %li
        %a(href="#p1") Preface
      %li
        %a(href="#p2") Problems
      %li
        %a(href="#p3") Look identically
      %li
        %a(href="#p4") Inheritance & cascade
      %li
        %a(href="#p5") Object
      %li
        %a(href="#p6") Module
      %li
        %a(href="#p7") Code style & conventions
      %li
        %a(href="#p8") Using Sass in full power
      %li
        %a(href="#p9") Creating mixins
      %li
        %a(href="#p10") Private & shared mixins
      %li
        %a(href="#p11") Class name
      %li
        %a(href="#p12") File structure
      %li
        %a(href="#p13") Grids

