.article
  %img.article-pic(alt="" src="images/article/whats-inside.jpg")/
  %h3.positive Framework
  %ul.unordered-list
    %li
      %strong base.sass
      — linker for all framework stylesheets
    %li
      %strong config.sass
      — all shared variables store here. Also, links mixins at the end
    %li
      %strong grids.sass
      — rock solid grids that allow you to build any layout no matter how complex is it. Works perfectly in IE6+ and all others
    %li
      %strong mixins.sass
      — all SASS mixins go here. No need to use monster tools with thousands of mixins, just create mixins for your needs and use them across the project.
    %li
      %strong reset.sass
      — resets everything to zero margin, padding + some black magic hacks to fix browsers inconsistencies
    %li
      %strong spaces.sass
      — use to modify the default spacing between objects
    %li
      %strong type.sass
      — stores all typography related style definitions

  %h3.positive Layouts
  %ul.unordered-list
    %li
      %strong *.sass
      — place for general layout styling. Store body, wrapper, content and other layout specific 
      blocks here. Add a link to a config.sass to use shared mixins with variables. You can store 
      all kinds of layouts here like: application.sass, homepage.sass, admin.sass

  %h3.positive Library
  %ul.unordered-list
    %li
      %strong *.sass
      — place for groups like buttons, text-inputs, selects, radios, checkboxes and other 
      elements, which you can combine. Add a link to a config.sass to use shared mixins with 
      variables. To specify multiple libraries for different layouts move groups to separate 
      folders inside the library: /library/application/ /library/admin/

  %h3.positive Modules
  %ul.unordered-list
    %li
      %strong *.sass
      — use to create modules such as login-block.sass, modal.sass, votebar.sass, dropdown.sass, 
      lightbox.sass and so on.  Add a link to a config.sass to use shared mixins with variables.
    %li
      To specify multiple modules sets for different layouts create folders inside:
      %p.mvx
        %strong /modules/application/
      %p.mbx
        %strong /modules/admin/
    %li
      If module gets too big, slice it to keep code small and flat structure:
      %p.mvx
        %strong /modules/player-info.sass
      %p.mbx
        %strong /modules/player-status.sass
      %p.mbx
        %strong /modules/player-controls.sass
      %p.mbx
        %strong /modules/player-states.sass

  %h2.firm Grids
  %img.article-pic(alt="" src="images/article/maintenance.jpg")/
  %p.mbl
    We like
    %a(href="http://github.com/stubbornella/oocss/blob/master/core/grid/grids.css") Nicole Sullivan grids
    system. There are 6 sizes available by default. We modified class names a bit to write less:

  .debug-grids
    .col1of2
      .inner-col 1 of 2
    .col1of2.last-col
      .inner-col 1 of 2

  .debug-grids
    .col1of3
      .inner-col 1 of 3
    .col1of3
      .inner-col 1 of 3
    .col1of3.last-col
      .inner-col 1 of 3

  .debug-grids
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4.last-col
      .inner-col 1 of 4

  .debug-grids
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5.last-col
      .inner-col 1 of 5

  .debug-grids
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6.last-col
      .inner-col 1 of 6

  %h2.mtl.firm Who use it?
  %p.mbl
    Most of the products in
    %a.rw-link(href="http://railsware.com") Railsware
    are made based on Scaffy. We're working hard to get all achievements ;)

  %p.mbl
    Also
    %a(href="http://designmodo.com/futurico-html") Futurico User Interface
    is based on it.

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="railsware">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <a href="https://twitter.com/railsware" class="twitter-follow-button" data-show-count="false">Follow @railsware</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

