.sidebar
  .sidebar-scroll
    %ul
      %li.shown-desktop
        %a.logo.mbm(href="#")
          <span>s</span><span>c</span><span>a</span>ffy
      %li
        %a(href="#p1") Preface
      %li
        %a(href="#p2") Problems
      %li
        %a(href="#p3") Object
      %li
        %a(href="#p4") Module
      %li
        %a(href="#p5") Look identically
      %li
        %a(href="#p6") Inheritance & cascade
      %li
        %a(href="#p7") Class name
      %li
        %a(href="#p8") Code style & conventions
      %li
        %a(href="#p9") Using Sass in full power
      %li
        %a(href="#p10") Creating mixins
      %li
        %a(href="#p11") Private & shared mixins
      %li
        %a(href="#p12") File structure
      %li
        %a(href="#p13") Responsive design
      %li
        %a(href="#p14") Grids

