#p12.article
  %a.article-anchor(href="#p12") #12
  %h3.article-title File structure
  %img.article-pic(alt="" src="images/article/whats-inside.jpg")/
  %h3.positive /scaffy/
  .mbl
    %table.contents
      %tr
        %td.bright(width="23%")
          bundle.sass
        %td
          linker for all framework stylesheets
      %tr
        %td.bright
          config.sass
        %td
          shared variables set
      %tr
        %td.bright
          grids.sass
        %td
          rock solid grids for building layouts
      %tr
        %td.bright
          mixins.sass
        %td
          shared Sass mixins set
      %tr
        %td.bright
          reset.sass
        %td
          resets everything to zero margin, padding
      %tr
        %td.bright
          spaces.sass
        %td
          use to modify the default spacing between objects
      %tr
        %td.bright
          type.sass
        %td
          stores all typography related style definitions

  %h3.positive /layouts/
  .mbl
    %table.contents
      %tr
        %td.bright(width="30%")
          application.sass
        %td
          Application layout
      %tr
        %td.bright
          marketing.sass
        %td
          Marketing layout
      %tr
        %td.bright
          admin.sass
        %td
          Admin layout

    %p.ptm
      Place for general layout styling. Store body, wrapper, content and other layout specific 
      blocks here. Add a link to a config.sass to use shared mixins with variables.

  %h3.positive /library/
  .mbl
    %table.contents
      %tr
        %td.bright(width="30%")
          application.sass
        %td
          Application library
      %tr
        %td.bright
          marketing.sass
        %td
          Marketing library
      %tr
        %td.bright
          admin.sass
        %td
          Admin library

    %p.pvm
      Place for groups like buttons, text-inputs, selects, radios, checkboxes and other
      elements, which you can combine.

    %p.mbl
      Until you don't have so many objects just store
      all misc ones here in a general library scope file (e.g. /library/marketing.sass).

  %h3.positive /modules/
  .mbl
    Slice modules by small logical parts to keep code small and flat structure:
    %table.contents
      %tr
        %td.bright(width="34%")
          player-info.sass
        %td
          Player info module
      %tr
        %td.bright
          player-status.sass
        %td
          Player status module
      %tr
        %td.bright
          player-controls.sass
        %td
          Player controls module

  To specify multiple modules sets for different layouts create folders inside:
  %table.contents
    %tr
      %td.bright(width="28%")
        application.sass
      %td
        Application modules
    %tr
      %td.bright
        admin.sass
      %td
        Admin modules

#p13.article
  %a.article-anchor(href="#p13") #13
  %h2.article-title Grids
  %img.article-pic(alt="" src="images/article/maintenance.jpg")/
  %p.mbl
    We like
    %a(href="http://github.com/stubbornella/oocss/blob/master/core/grid/grids.css") Nicole Sullivan grids
    system. There are 6 sizes available by default. We modified class names a bit to write less:

  .debug-grids
    .col1of2
      .inner-col 1 of 2
    .col1of2.last-col
      .inner-col 1 of 2

  .debug-grids
    .col1of3
      .inner-col 1 of 3
    .col1of3
      .inner-col 1 of 3
    .col1of3.last-col
      .inner-col 1 of 3

  .debug-grids
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4
      .inner-col 1 of 4
    .col1of4.last-col
      .inner-col 1 of 4

  .debug-grids
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5
      .inner-col 1 of 5
    .col1of5.last-col
      .inner-col 1 of 5

  .debug-grids
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6
      .inner-col 1 of 6
    .col1of6.last-col
      .inner-col 1 of 6

.article
  %h2.article-title Who use it?
  %p.mbl
    Most of the products in <a class="rw-link" href="http://railsware.com">Railsware</a> are 
    made based on Scaffy.
    Also <a href="http://designmodo.com/futurico-html">Futurico User Interface</a> is based on it.

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="railsware">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <a href="https://twitter.com/railsware" class="twitter-follow-button" data-show-count="false">Follow @railsware</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

