#p12.article
  %a.article-anchor(href="#p12") #12
  %h3.article-title File structure
  %img.article-pic(alt="" src="images/article/whats-inside.jpg")/
  %h3.positive /scaffy/
  .mbl
    %table.contents
      %tr
        %td.article-label(width="30%")
          bundle.sass
        %td
          Linker for all framework stylesheets
      %tr
        %td.article-label
          config.sass
        %td
          Shared variables set
      %tr
        %td.article-label
          grids.sass
        %td
          Rock solid grids for building layouts
      %tr
        %td.article-label
          mixins.sass
        %td
          Shared Sass mixins set
      %tr
        %td.article-label
          reset.sass
        %td
          Resets everything to zero margin, padding
      %tr
        %td.article-label
          spaces.sass
        %td
          Use to modify spacing between objects
      %tr
        %td.article-label
          type.sass
        %td
          Stores all typography related style definitions
      %tr
        %td.article-label
          responsive.sass
        %td
          Use to hide/show responsive components

  %h3.positive /layouts/
  .mbl
    %table.contents
      %tr
        %td.article-label(width="30%")
          application.sass
        %td
          Application layout
      %tr
        %td.article-label
          marketing.sass
        %td
          Marketing layout
      %tr
        %td.article-label
          admin.sass
        %td
          Admin layout

    %p.ptm
      Place for general layout styling. Store body, wrapper, content and other layout specific 
      blocks here. Add a link to a config.sass to use shared mixins with variables.

  %h3.positive /library/
  .mbl
    %table.contents
      %tr
        %td.article-label(width="30%")
          application.sass
        %td
          Application library
      %tr
        %td.article-label
          marketing.sass
        %td
          Marketing library
      %tr
        %td.article-label
          admin.sass
        %td
          Admin library

    %p.pvm
      Place for groups like buttons, text-inputs, selects, radios, checkboxes and other
      elements, which you can combine.

    %p.mbl
      Until you don't have so many objects just store
      all misc ones here in a general library scope file (e.g. /library/marketing.sass).

  %h3.positive /modules/
  .mbl
    Slice modules by small logical parts to keep code small and flat structure:
    %table.contents
      %tr
        %td.article-label(width="34%")
          player-info.sass
        %td
          Player info module
      %tr
        %td.article-label
          player-status.sass
        %td
          Player status module
      %tr
        %td.article-label
          player-controls.sass
        %td
          Player controls module

  To specify multiple modules sets for different layouts create folders inside:
  %table.contents
    %tr
      %td.article-label(width="34%")
        application.sass
      %td
        Application modules
    %tr
      %td.article-label
        admin.sass
      %td
        Admin modules

