@import '../../framework/config.css.sass'

.checkbox
  background: image-url('futurico/checkbox/square.png') 0 0 no-repeat
  color: #ddd
  cursor: pointer
  padding: 1px 0 3px 25px
  position: relative

  // Checkbox states
  &:hover
    background-position: 0 -26px
    color: #fff

  &.checked
    background-position: 0 -53px
    &:hover
      background-position: 0 -80px

// Light skin
.checkbox-light
  @extend .checkbox
  background-image: image-url('futurico/checkbox/square-light.png')

// Radio
.radio
  @extend .checkbox
  background-image: image-url('futurico/checkbox/disk.png')

