.debug-grids {
  text-align: center;
  cursor: default; }
  .debug-grids:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .debug-grids .inner-col {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 10px 10px 0;
    padding: 10px; }
    .debug-grids .inner-col:hover {
      background-color: rgba(255, 255, 255, 0.15); }
  .debug-grids .last-col .inner-col {
    margin-right: 0; }
