!!!
%html{:lang => "en-US"}
  %head
    %meta{:charset => "UTF-8"}
    %title Scaffy framework
    =stylesheet_link_tag "futurico-dark"
    =javascript_include_tag "application"
    %meta{:content => "initial-scale = 1, maximum-scale = 1, user-scalable = no", :name => "viewport"}/
  %body
    %img.background-light{:src => "/assets/futurico/background-light.png", :alt => ""}

    .container
      =render :partial => "static/futurico/site-info"

      .content
        .wrapper.clearfix
          .col1of4
            =render :partial => "static/futurico/text_inputs"
            =render :partial => "static/futurico/scrollboxes"
            =render :partial => "static/futurico/selects"
            =render :partial => "static/futurico/text-inputs-rounded"

          .futurico-content.last-col
            .mbl.pbl
              =render :partial => "static/futurico/tabbox"
            .clearfix
              .col1of6
                =render :partial => "static/futurico/crossbar"
              .col1of3
                =render :partial => "static/futurico/currently-playing"
              .left
                .mll.pll
                  = render :partial => "static/futurico/commutators"
              .last-col
                .mll.pll
                  =render :partial => "static/futurico/user-slug"

        =render :partial => "static/futurico/header"

        .wrapper.clearfix
          .col1of4
            .mbl.pbm
              = render :partial => "static/futurico/checkboxes"
            .mbl
              =render :partial => "static/futurico/login"
            .mbl
              =render :partial => "static/futurico/hot-news"
            .mbl.pvm
              =render :partial => "static/futurico/progressbar"
            .mbl.clearfix
              =render :partial => "static/futurico/equalizer"

          .futurico-content.last-col
            .mbl.pbl.clearfix
              .col1of2
                =render :partial => "static/futurico/slideshow"
              .col1of2.last-col
                .pll.mll
                  =render :partial => "static/futurico/stickers"

            .mbl.pbl.clearfix
              .col1of2
                =render :partial => "static/futurico/datepicker"

              .col1of2.last-col
                .pll.mll
                  =render :partial => "static/futurico/circle-banner"

            .mbl.pbl.clearfix
              .col1of2.mrl.prl
                .mbl.pbm.clearfix
                  =render :partial => "static/futurico/appreciate"

                =render :partial => "static/futurico/starbar"

              .left.pll.mlm
                =render :partial => "static/futurico/buttons"

