@import 'scaffy/scaffy'
$layout-width:     980px
$wrapper-paddings: 20px

body
  color: $base-font-color
  font-size: $base-font-size
  line-height: 1.231
  margin: 0
  padding: 0

.wrapper
  margin: auto
  padding: $wrapper-paddings
  width: $layout-width - $wrapper-paddings

