.mbl
  .button Div button

.mbl
  %a.button{:href => "#"} Link button

.mbl
  %input.button{:type => "submit", :value => "Input button"}

.mbl
  %a.button.firm{:href => "#"} Firm button

.mbl
  %a.button.positive{:href => "#"} Positive button

.mbl
  %a.button.neutral{:href => "#"} Neutral button

.mbl
  %a.button.positive.disabled{:href => "#"} Disabled button

.mbl
  %a.button-huge.positive{:href => "#"}
    SIGN IN
    %span.button-description One minute

