.radiogroup
  -# Form row
  .form-row.clearfix
    .col1of2
      .radio.checked.js-radio
        Radio 1

    .col1of2
      .checkbox.checked.js-checkbox
        Option 1

  -# Form row
  .form-row.clearfix
    .col1of2
      .radio.js-radio
        Radio 2

    .col1of2
      .checkbox.js-checkbox
        Option 2

.radiogroup
  -# Form row
  .form-row.clearfix
    .col1of2
      .radio-light.checked.js-radio
        Radio 3

    .col1of2
      .checkbox-light.checked.js-checkbox
        Option 3

  -# Form row
  .form-row.last.clearfix
    .col1of2
      .radio-light.js-radio
        Radio 4

    .col1of2
      .checkbox-light.js-checkbox
        Option 4

