-# Disk checkboxes set
.mbm
  .checkbox.disk
    Disk checkbox

.mbl
  .checkbox.disk.checked
    Disk checkbox checked

-# Square checkboxes set
.mbm
  .checkbox.square
    Square checkbox

.mbl
  .checkbox.square.checked
    Square checkbox checked

-# Light Square checkboxes set
.mbm
  .checkbox-light.square
    Light checkbox

.mbm
  .checkbox-light.square.checked
    Light checkbox checked

