-# Disk checkboxes set
.mbm
  .checkbox.disk
    Disk checkbox

.mbl
  .checkbox.disk.checked
    Disk checkbox checked

-# Square checkboxes set
.mbm
  .checkbox.square
    Square checkbox

.mbm
  .checkbox.square.checked
    Square checkbox checked

