.radiogroup
  .form-row.clearfix
    .col1of2
      .radio.checked
        Radio 1

    .col1of2
      .checkbox.checked
        Option 1

  .form-row.last.clearfix
    .col1of2
      -# Disk checkbox
      .radio
        Radio 2

    .col1of2
      .checkbox
        Option 2

