-# Disk checkboxes set
.radiogroup
  .mbm
    .radio
      Radio 1

  .mbl
    .radio.checked
      Radio 2

-# Square checkboxes set
.mbm
  .checkbox
    Checkbox

-# Light Square checkboxes set
.mbm
  .checkbox-light
    Light checkbox

