.circle-banner
  .banner-inner.clearfix
    .banner-pull-l.pull1
    .banner-pull-r.pull1
    .banner-pull-l.pull2
    .banner-pull-r.pull2
    Italian wine is wine produced in Italy, a country which is home to some of the oldest wine-producing

  .banner-description
    %a{:href => "#"} Read More

