.crossbar
  %a.to-top{:href => "#", :tabindex => "6"}
    .arrow
  %a.to-right{:href => "#", :tabindex => "7"}
    .arrow
  %a.to-bottom{:href => "#", :tabindex => "8"}
    .arrow
  %a.to-left{:href => "#", :tabindex => "9"}
    .arrow

