.currently-playing
  .playing.artist The Cardigans
  .playing.song I Need Some Fine Wine And You

  .song-info.clearfix
    .song-time.start -32:54

    -# We can reuse already existed scrollbox
    .scrollbox.dot
      .hitbox
      .scale{:style => "width: 20%"}
        .slider

    .song-time.end 32:54

