.currently-playing
  .playing.artist The Cardigans
  .playing.song I Need Some Fine Wine And You

  .song-info.clearfix
    -# We can reuse already existed scrollbox
    .song-track
      .scrollbox.dot
        .hitbox
        .scale{:style => "width: 20%"}
          .slider

    .song-time.start -32:54
    .song-time.end 32:54

