.dataset
  %table
    %tr
      %td.dataset-entity
        RAM
      %td.dataset-number
        2 GB
      %td{:width => "50%"}
        .dataset-bar{:style => "width: 50%"}

    %tr
      %td.dataset-entity
        CPU
      %td.dataset-number
        5 GHz
      %td
        .dataset-bar{:style => "width: 100%"}

    %tr
      %td.dataset-entity
        HDD
      %td.dataset-number
        500 GB
      %td
        .dataset-bar{:style => "width: 66%"}

