.datepicker-placeholder
  .datepicker
    .datepicker-close
    .datepicker-header
      .datepicker-back
      .datepicker-today
        %span.month March
        %span.year 2012
      .datepicker-forward
    %table.datepicker-calendar
      %tr
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
        %th Sun
      %tr
        %td.inactive 1
        %td.inactive 2
        %td.inactive 3
        %td.inactive 4
        %td 5
        %td 6
        %td 7
      %tr
        %td 8
        %td 9
        %td 10
        %td 11
        %td 12
        %td 13
        %td 14
      %tr
        %td 15
        %td 16
        %td.today 17
        %td 18
        %td 19
        %td 20
        %td 21
      %tr
        %td 22
        %td 23
        %td 24
        %td 25
        %td 26
        %td 27
        %td 28
      %tr
        %td 29
        %td 30
        %td 31
        %td.inactive 1
        %td.inactive 2
        %td.inactive 3
        %td.inactive 4

