.equalizer.clearfix
  .bar
    .scale{:style => "height: 35%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 46%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 22%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 48%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 61%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 65%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 78%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 100%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 62%"}
      %a.slider{:href => "#"}

  .bar-delimiter

  .bar
    .scale{:style => "height: 0%"}
      %a.slider{:href => "#"}

