.equalizer.clearfix
  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

  .bar-delimiter

  .bar
    .scale

