.paragraph.sharp
  .clearfix.mbs
    %h3.left.mrm
      %strong Hot News

    .last-col.pts
      .pagination.clearfix
        .pagination-up
        .pagination-down
        .pagination-left
        .pagination-right

  .mbl
    =render :partial => "static/futurico/comments"

  =render :partial => "static/futurico/pagination"

