.clearfix
  .left.mrl.prl
    %ul.pagination.clearfix#pagination
      %li.active
        %a{:href => "#pagination"}<> 1
      %li
        %a{:href => "#pagination"}<> 2
      %li
        %a{:href => "#pagination"}<> 3
      %li
        %a{:href => "#pagination"}<> 4

  .left
    .pagination.clearfix
      .pagination-up
      .pagination-down

