%ul.pagination.clearfix#pagination
  %li.active
    %a{:href => "#pagination"}<> 1
  %li
    %a{:href => "#pagination"}<> 2
  %li
    %a{:href => "#pagination"}<> 3
  %li
    %a{:href => "#pagination"}<> 4
  %li
    %a{:href => "#pagination"}<> 5
  %li
    \. . .
  %li
    %a{:href => "#pagination"}<> 9187

