.mbl.ptm
  .scrollbox.dot
    .hitbox
    .scale{:style => "width: 75%"}

.mbl.ptm
  .scrollbox.disk
    .hitbox
    .scale{:style => "width: 50%"}

.mbm.ptm.pbl
  .scrollbox.range
    .hitbox
    .scale{:style => "width: 30%"}

