.mbl
  .scrollbox.dot
    .hitbox
    .scale{:style => "width: 20%"}

.mbl
  .scrollbox.disk
    .hitbox
    .scale{:style => "width: 40%"}

.mbl
  .scrollbox.range
    .hitbox
    .scale{:style => "width: 66%"}

