.mbl
  %select.select
    %option
    %option{:value => "Aaliyah"} Aaliyah
    %option{:value => "Barbara"} Barbara
    %option{:value => "Azura"} Azura
    %option{:value => "Babs"} Babs
    %option{:value => "Fox"} Fox

