.mbl
  .select.idle
    .selected
      Bill Hampton
      %span.icon
    .options
      %ul.stack
        %li.option Aaliyah
        %li.option Barbra
        %li.option Azura
        %li.option Babs
        %li.option Fox
        -# %li.option Bill
        -# %li.option John
        -# %li.option Kate

