.wrapper
  .site-info
    %h1.sitename
      Futurico user interface
      %span.version 1.0

    .about
      %span.legend-left
      %span.legend-center Based on Scaffy framework
      %span.legend-right

