.slideshow
  .slideshow-slides-wrapper
    %ul.slideshow-slides
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide.jpg')"}
        .slide-description
          Elephants never forget
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide-2.jpg')"}
        .slide-description
          Elephants never forget
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide-3.jpg')"}
        .slide-description
          Elephants never forget

  .show-slide.prev
  .show-slide.next

