.slideshow
  %ul.slideshow-slides
    %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide.jpg')"}
    %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide.jpg')"}
    %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide.jpg')"}

