.slideshow
  .slideshow-slides-wrapper
    %ul.slideshow-slides
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide.jpg')"}
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide-2.jpg')"}
      %li.each-slide{:style => "background-image: url('/assets/futurico/slideshow/test-slide-3.jpg')"}

  .show-slide.prev
  .show-slide.next

