.tabbox
  %ul.tabbox-tabs
    %li.active Option 1
    %li Option 2

  .tabbox-stuff.clearfix
    %ul.tabbox-navigation
      %li.archive
      %li.messages.active
      %li.cloud

    .last-col
      .tabbox-content
        .heading
          %h2 We are in the final stage now

        %img{:src => "/assets/futurico/tabbox/fish-decor.png"}

