.mbl
  .text-rounded.dark
    %input{:type => "text", :value => "Search box", :tabindex => "5"}
    %input.search-button{:type => "submit", :value => "", :tabindex => "6"}

.mbl
  .text-rounded.dark
    %input{:type => "text", :value => "1 250 USD", :tabindex => "4"}

