.mbl
  .text.dark
    %input{:type => "text", :placeholder => "Search box dark", :tabindex => "3"}

.mbl
  .text-rounded.dark
    %input{:type => "text", :placeholder => "Search box rounded dark", :tabindex => "3"}

