.mbl
  .text-rounded.light
    %input{:type => "text", :placeholder => "Light edit box", :tabindex => "3"}

.mbl
  .text.dark
    %input{:type => "text", :placeholder => "Text edit", :tabindex => "3"}

