@import '../framework/config'

body
  background: #1c1a1d
  color: $base-color
  font: 400 #{$base-font-size}/1.35 $base-font

.wrapper
  margin: auto
  max-width: 600px
  padding: 25px 0
  position: relative
  +clearfix

.content
  padding-left: 30px
  img
    width: 100%

.row
  // Use variable if you want to keep your spaces consistent 
  // across the system. Also it is easy to support responsivity
  margin-bottom: $space-l
  +clearfix

