@import '../framework/config'

body
  background: #fff
  color: $base-color
  font: #{$base-font-size}/1.35 $base-font

.wrapper
  clear: both
  margin: auto
  padding: 20px 0
  position: relative
  width: 960px

.unordered-list
  font-size: $h5
  margin-bottom: 20px

.unordered-list-item
  list-style-type: square
  margin: 0 0 20px 25px

pre
  border-left: 4px solid $positive
  line-height: 1.5
  margin: 15px 0
  padding: 10px 15px

code
  color: $link
  font-family: Monaco, monospace

