@import '../framework/config'

.debug-grids
  .inner-col
    background-color: #ddd
    border-radius: 3px
    border: 1px solid #d0d0d0
    margin: 0 $space-m $space-m 0
    padding: $space-m
    &:hover
      background-color: #d0d0d0

  .last-col
    .inner-col
      margin-right: 0

