.wysiwyg
  ul
    margin: 10px 0 20px
    li
      list-style: disc
      margin-left: 20px
  ol
    margin: 10px 0 20px
    li
      list-style: decimal
      margin-left: 20px
  p,
  blockquote
    margin: 10px 0 15px
  table
    margin: 25px 0
    width: 100%
    td
      border: 1px solid #ccc
      padding: 7px 10px
    th
      font-weight: bold
      padding: 7px 10px
  hr
    background-color: #ccc
    border: none
    height: 1px
    margin: 15px 0
    width: 100%
  dl
    margin: 10px 0
    dt
      font-weight: bold
    dd
      margin: 5px 0 10px 20px
  .checkbox,
  .radio
    margin: 5px 3px
  pre
    font-family: inherit
    white-space: pre-wrap
  acronym,
  abbr
    border-bottom: 1px dotted #000
    cursor: help

