.clearfix.debug-grids
  .col1of2
    .inner-col Column 1 of 2
  .col1of2.last-col
    .inner-col Column 1 of 2

.clearfix.debug-grids
  .col1of3
    .inner-col Column 1 of 3
  .col1of3
    .inner-col Column 1 of 3
  .col1of3.last-col
    .inner-col Column 1 of 3

.clearfix.debug-grids
  .col1of4
    .inner-col Column 1 of 4
  .col1of4
    .inner-col Column 1 of 4
  .col1of4
    .inner-col Column 1 of 4
  .col1of4.last-col
    .inner-col Column 1 of 4

.clearfix.debug-grids
  .col1of5
    .inner-col Column 1 of 5
  .col1of5
    .inner-col Column 1 of 5
  .col1of5
    .inner-col Column 1 of 5
  .col1of5
    .inner-col Column 1 of 5
  .col1of5.last-col
    .inner-col Column 1 of 5

.clearfix.debug-grids
  .col1of6
    .inner-col Column 1 of 6
  .col1of6
    .inner-col Column 1 of 6
  .col1of6
    .inner-col Column 1 of 6
  .col1of6
    .inner-col Column 1 of 6
  .col1of6
    .inner-col Column 1 of 6
  .col1of6.last-col
    .inner-col Column 1 of 6

