=border-radius($properties)
  -webkit-border-radius: $properties
  -moz-border-radius:    $properties
  border-radius:         $properties

=transition($properties)
  -webkit-transition: $properties
  -moz-transition:    $properties
  -o-transition:      $properties
  transition:         $properties

=transition-delay($properties)
  -webkit-transition-delay: $properties
  -moz-transition-delay:    $properties
  -o-transition-delay:      $properties
  transition-delay:         $properties

=transform($properties)
  -webkit-transform:           $properties
  -moz-transform:              $properties
  -o-transform:                $properties
  transform:                   $properties

=background-image($properties)
  background-image: -webkit-linear-gradient($properties)
  background-image:    -moz-linear-gradient($properties)
  background-image:      -o-linear-gradient($properties)
  background-image:         linear-gradient($properties)

=box-shadow($properties)
  -webkit-box-shadow: $properties
  -moz-box-shadow:    $properties
  -o-box-shadow:      $properties
  box-shadow:         $properties

=box-sizing
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  box-sizing:         border-box

=animation($properties)
  -webkit-animation: $properties
  -moz-animation:    $properties
  -o-animation:      $properties

